table {
    border-collapse: collapse;
}

table>tr>th {
    background-color: #d3d3d3;
}

table>tbody>tr>td {
    background-color: #efefef;
}

table td,
table th {
    border: 2px solid #dddddd;
}

.forms-container {
    display: flex;
    gap: 40px;
    align-items: flex-end; 
}




table {
    width: 100%;
}