table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;    
  padding: 6px 14px;        
  text-align: center;        
  font-size: 14px;
  white-space: nowrap;       
}

.hide {
  display: None;
}

.show {
  text-align: center; 
}

.normal {
  font-size: 14px;
  margin: 20px;
}

.current {
  font-size: 20px;
  margin: 20px;
  color: blue;
}

.normal:hover, .current:hover {
  cursor: pointer;
  font-size: 22px;
}


svg {
    width: 800px;
    height: 400px;
}

svg path, line {
    fill: none;
    stroke: black;
    width: 1px;
}
 
svg text {
    font: 8px Verdana;
}

